*{
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    margin: auto;
    display: flex;
    margin-top: 100px; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.input-box input {
    background-color: #F4E8C5;
}

.input-box {
    width: 500px;
    height: 335px;
    border: 1px solid #FFFF;
    background-color: #FFFF;
    float: center;
    margin: auto;
    padding: 20px;
    margin-top: 50px; 
    box-sizing: border-box;
    border-radius: 20px;
}

.input-field {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    height: 35px;
    font-size: 18px; 
    color: #000
}

.small-text{
    font-size: 14px; 
    color: black; 
}

.title {
    color: #000;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}


/* button {
    display: flex;
} */

#next {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1D1C40;
    color: #FFF;
    transition: background-color 0.3s ease;
}

#back {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: #000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

