*{
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: "Hakgyoansim Monggeulmonggeul";
}




.id input{
  background: #F4E8C5;
  width: 400px;
  height: 60px;
  margin: auto;
  border-radius: 5px;


}

.password input{
  background: #F4E8C5;
  width: 400px;
  height: 60px;
  margin: auto;
  border-radius: 5px;

}
.login-container id input{
  margin: auto;
  width: 400px;
  height: 60px;
}

.login-container password input{
  margin: auto;
  width: 400px;
  height: 60px;
}