* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Hakgyoansim Monggeulmonggeul";
}

body {
    background-color: #1D1C40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 전체 높이를 최소한 뷰포트 높이로 설정 */
    padding-bottom: 50px; /* 하단 여백 추가 */
}

.logo{
    margin-top: 80px;
  }

.logo img {
    width: 300px;
}


.임시비밀번호{    
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

#임시, #입니다{
    color: white;
    font-size: 32px;
}

#pw{
    color: #FDB94A;
    font-size: 37px;
}

.nextbutton {
    width: 400px;
    height: 40px;
    background-color: #F4E8C5;
    color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
}

.nextbutton:hover {
    background-color: #fff;
}

#finish-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}