*{
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: "Hakgyoansim Monggeulmonggeul";
  }
  
  body {
    background-color: #1D1C40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; /* 전체 높이를 최소한 뷰포트 높이로 설정 */
    padding-bottom: 100px; /* 하단 여백 추가 */
    margin : 0px;
    padding : 0px;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    margin-top:60px;
  }
  
  input[type="text"] {
    background-image: url(../material/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 10px;
    width: 300px; /* 검색 박스의 너비를 300px로 설정 */
    height: 40px; /* 검색 박스의 높이를 40px로 설정 */
    margin-left: 10px;
    margin-right: auto;
    font-size: 20px;
    border: 1px solid #fff;
    padding-left: 45px;
  }
  .header > img{
    width: 192px;
    height: 43px;
    top: 64px;
    left: 71px;
  }
  .header > .profile1{
    display: flex;
  }
  
  .header > .profile1 > img{
    width: 36.61px;
    height: 36.61px;
    border-radius: 100px;
  }
  
  .header > .profile1 > select{
    display: flex;
    color: white;
    background-color: #1D1C40;
    outline: 0;
    border: none;
    width: 120px;
    font-size: 21px;
    text-align: center;
  }
  
  .header > .profile1 > select > option{
    background-color: #D9D9D9;
    color: #3D3D3D;
    text-align: center;
  }
  

.rank_container {
  display: flex;
  flex-direction: column;
  margin-top : -70px;
}

.title1{
  text-align: left;
  margin-left:40px;
  margin-top: 100px;
  font-size: 50px;
}

.movie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.movie_rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
  margin-top: -50px;
}

.movie_rank > p {
  margin-bottom: -70px;
  font-size:70px;
  margin-right: 30px;
}

.review_contents{
  width:950px;
  height: 745px;
  background-color: #B2C0D0;
  margin: 10px;
  margin-top:40px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.review_content{
  margin-top: 15px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review_content > .profile2{
  margin-bottom:10px;
  width: 750px;
  margin-left: 30px;
}

.star>img{
  width:20px;
}

.nickname-time-comment{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 80px;
  margin-top: -55px;
}

.nickname-time {
  display: flex;
  align-items: last baseline; /* 아래 정렬을 맞춤 */
  gap: 3px; /* 두 요소 사이의 간격 */
}

.nickname{
font-size: 25px;
color : #000000;
margin:0;
}

.time{
font-size: 10px;
color : #000000;
}

.comment{
  font-size: 20px;
  color:#000000;
  margin : -3px;
}

.description{
  font-size:22px;
  color:#000000;
  margin-top: 10px; /* 프로필과 설명 사이의 간격 */
  width :700px;
}

.profile2 > .profile> img{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  display:flex;
  align-items: flex-start;
}

.poster{
  padding: 30px;
}

.sebin{
  display: flex;
  align-items: center;
  margin-top: -26px;
}

.sebin > .star{
  margin-left: 20px;
}

hr{
  margin-left: 30px;
  margin-right: 30px;
}

.sebin> .review{
  display:flex;
  margin-left: 250px ;
}

.sebin >.review>.GOOD{
  display:flex;
}

.sebin >.review>.GOOD>img{
  width: 30px;
}

.sebin > .review>.GOOD > p{
 color:#000000;
 margin-top: 35PX;
}

.sebin >.review>.BAD{
  display: flex;
}

.sebin >.review>.BAD>img{
  width: 30px;
}
.sebin > .review> .BAD > p{
  color:#000000;
 margin-top: 35PX;
 }

 
.n_box {
    width: 5px; /* 너비 설정 */
    height: 15px; /* 높이 설정 */
    background-color: white; /* 흰색 배경 */
    padding: 10px;
    display: flex; /* 텍스트 중앙 정렬*/
    justify-content: center; /*가로 중앙 정렬*/
    align-items: center; /*세로 중앙 정렬 */ 
    margin-top : 5px;
    margin-right: 13px;
    border-radius: 5px;
}

.number{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number >.n_box> p{
  font-size: 16px;
  color:#1D1C40;
  padding: 15px;
}

.movie_contents{
  width:950px;
  height:1400px;
  background-color: #B2C0D0;
  margin: 10px;
  margin-top:40px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.movie_content{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 220px;
  align-items: center;
  margin-left: 70px;
  margin-bottom:25px;
}

.movie_content>.genre{
  position: absolute;
  left : 360px;
  margin-top:-130px;
  font-size: 28px;
  color: #000000;
}

.movies{
  display: flex;
  gap:3px;
  margin-top: 70px;
}

.movies>img{
  padding:3px;
}