body {
    margin: 0;
    padding: 0;
    display: flex;
}

/* 여기서부터 settings_main_style */
.settings-container {
  display: flex;
  height: 100vh;
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: 0.5s;
}

/* main_프로필 */
.userprofile {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.userprofile > div:first-child {
  display: flex;
  align-items: center;
}

.userprofile img {
  margin-right: 20px;
}

.chat-info h3 {
  margin: 0 0 5px 0;
}

.chat-info p {
  margin: 0;
  font-size: 14px;
  color: #000;
}

.chat-info{
  margin-top: 15px;
  flex: 1;
}

.my_info{
  background-color: #EEEEEE;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
  padding: 5px;
}

.gotomypage {
  font-size: 10px;
  border: none;
  background-color: transparent;
  margin-top: 5px;
  color: #666;
  float: right;
}

/* 설정 list */
.settings-list {
  flex: 1;
  background-color: #fff;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
}

.settings-list h2 {
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  color: #7F7F7F;
}

.settings-list-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 16px;
}

.settings-list-item.active {
  background-color: #F1F1F1;
}

.settings-list-item:hover{
  background-color: #EEEEEE;
}

.listname{
  padding: 10px;
}

/* 설정 세부 공통 내용 */

.settings-main {
  flex: 2;
  display: flex;
  background-color: #F1F1F1;
  height: 100vh;
  flex-direction: column;
}

#settings_assets{
  width: 20px;
  margin: 0 5px;
}

#explain{
  color: #000;
  font-size: 15px;
  text-align: center;
}

.item{
  position: relative;
  padding: 5px;
  margin-bottom: 5px;
}

.item::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #ccc;
}

.selector {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  background-color: transparent;
}


.dropdown {
  cursor: pointer;
  font-size: 15px;
  border: none;
  background-color: transparent;
}

/* 언어 설정 */

.language-settings h2{
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  color: #7F7F7F;
}

#title_item{
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 40px;
}

/* 디스플레이 설정 */

.display-settings h2{
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  color: #7F7F7F;
}

.item span{
  display: block;
  margin-bottom: 10px;
}

.size-slider {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 10px auto;
}

.size-slider input {
  flex-grow: 1;
  margin: 0 10px; /* 슬라이더 좌우 간격 */
  background-color: #a7c0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.small{
  margin-right: 5px;
  margin-top: 8px;
  font-size: 10px;
  font-weight: 700;
}

.big{
  margin: 0 10px;
  font-size: 20px;
  font-weight: 700;
}


/* 친구 설정 */

.friend-settings h2{
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  color: #7F7F7F;
}


/* 사운드 설정 */

.sound-settings h2{
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  color: #7F7F7F;
}

/* main_assets */

#main_assets{
  width: 22px;
  height: 22px;
  margin-right: 10px;
}